node_modules/
.env
runtime/
GPT_weights/
SoVITS_weights/
tools/
GPT_SoVITS/
training_data/
.env.frontend
.env.backend
audio-chat.tar.gz
remote-bash.sh
temp.sh
upload_and_login.bat
deployement.bat
docker-compose-vagrant.yaml
docker-compose-aws.yaml
audio_output/